/* TEMPORARY STYLING FILE */
/*root*/
html,
body {
  width: 100dvw;
  margin: 0;
}

/* header */
.header-img-container {
  width: 100%;
  height: 45vh;
  overflow: hidden;
  background: rgb(161, 161, 161);
}
.header-img {
  width: 100%;
  height: fit-content;
}

.header-menu {
  width: 100%;
  height: fit-content;
  background: rgb(198, 198, 198);
  display: flex;
  gap: 1rem;
  padding-left: 1rem;
}

.menu-link {
  font-size: large;
  text-decoration: none;
  color: inherit;
  font-variant: small-caps;
  margin: 1rem 0;
  padding-right: 1rem;
  border-right: 1px solid rgb(77, 77, 77);
}
.menu-link:last-child {
  padding-right: 0;
  border-right: none;
}
