/* TEMPORARY STYLING FILE */

@import url('https://fonts.googleapis.com/css2?family=Gruppo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');

/* DEFAULT */

* {
    margin: 0;
    padding: 0;
    color: #c5c5c5;
    font-family: 'Gruppo', sans-serif;
}

a {
    text-decoration: none;
}

Link:hover {
    cursor: pointer;
}

html {
    scroll-behavior: smooth;
    scrollbar-width: 0px;
    -ms-overflow-style: none; /* Internet Explorer 10+ */
    scrollbar-width: none; /* Firefox */
    &::-webkit-scrollbar {
        display: none; /* Safari and Chrome */
      }
  }

body {
    background-color: #090909;
}

h1, h2, h3, h4, h5 {
    text-transform: uppercase;
    font-family: 'Krona One', sans-serif;
    color: white;
}

/* HEADER */

.background-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hubnet-logo-container {
    position: absolute;
    height: 70vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hubnet-logo-container img {
    height: 30%;
    max-width: 50%;
}

/* HOME */

.home-content-shows, .home-content-about-hubnet {
    display: flex;
    flex-direction: column;
    width: 100vw;
    min-height: 80vh;
}

/* HOME SHOWS */

.home-content-shows {
    align-items: center;
}

.home-content-shows h2 {
    margin: 30px;
}

.home-shows-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    align-items: center;
    width: 80vw;
    margin-bottom: 70px;
}

/* HOME ABOUT  */

.home-content-about-hubnet {
    background-image: url("./src/assets/temporary-background-home.jpg");
    background-size: cover;
    justify-content: center;
}

.about-hubnet-fade-overlay {
    position: absolute;
    min-height: 80vh;
    width: 100vw;
    background-image: linear-gradient(to right,black, rgba(0, 0, 0, 0));
}

.about-hubnet-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 500px;
    height: 75%;
    gap: 30px;
    z-index: 1;
    margin-left: 15%;
}

.about-hubnet-logo {
    display: flex;
    justify-content: center;
    height: 20%;
}

.about-hubnet-logo img {
    height: 100%;
    max-width: 40%;
}

.about-hubnet-text-container p {
    color: white;
    text-align: center;
    font-size: 20px;
}

/* SHOWSSMALL COMPONENT */

.shows-small-container {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 450px;
    background-color: #1E1E1E;
}

.shows-small-img-container {
    width: 100%;
    height: 200px;
}

.shows-small-img-container img {
    width: 100%;
    max-height: 100%;
    object-fit: cover;
}

.shows-small-container-content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 250px;
    width: 90%;
    margin: 0 5%;
}

.shows-small-info {
    display: flex;
    flex-direction: column;
    height: 50%;
    gap: 10px;
}

.shows-small-readmore {
    display: flex;
    flex-direction: row;
}

.btn-watch-videos {
    height: 30px;
    background-color: #424656;
    border-radius: 0;
    border: 1px solid #C3CFF9;
    text-transform: uppercase;
    color: white;
    font-family: 'Krona One', sans-serif;
    font-size: 10px;
}




/* FOOTER */

.footer-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: #090909;
    height: 25vh;
}

.footer-container-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
    width: 80%;
}

.footer-container-content p {
    text-align: center;
}

.logo-container {
    height: 100px;
    width: 100px;
}

.logo-container img {
    max-height: 100px;
    max-width: 100px;
}
