/* TEMPORARY STYLING FILE */
/*root*/
html,
body {
  width: 100dvw;
  margin: 0;
}

/* header */
.header-img-container {
  width: 100%;
  min-height: 30vh;
  height: 10vh;
  overflow: hidden;
  background: rgb(161, 161, 161);
}
.header-img {
  width: 100%;
  height: fit-content;
}

.header-menu {
  width: 100%;
  height: fit-content;
  background: rgb(198, 198, 198);
  display: flex;
  gap: 1rem;
  padding-left: 1rem;
}

.menu-link {
  font-size: large;
  text-decoration: none;
  color: inherit;
  font-variant: small-caps;
  margin: 1rem 0;
  padding-right: 1rem;
  border-right: 1px solid rgb(77, 77, 77);
}
.menu-link:last-child {
  padding-right: 0;
  border-right: none;
}
.menu-shows {
  border: 1px solid rgb(77, 77, 77);
  background: rgb(198, 198, 198);
  min-width: 10rem;
  max-width: max-content;
  padding: 0.5rem 1rem;
  font-size: large;
  text-decoration: none;
  color: inherit;
  font-variant: small-caps;
  z-index: 2;
}
.menu-show-container {
  display: flex;
  gap: 0.5rem;
}
.show-choice {
  border-bottom: 1px dotted rgb(77, 77, 77);
  padding: 0.5rem 0;
}
.show-choice:first-child {
  padding-top: 0;
}
.show-choice:last-child {
  border-bottom: none;
  padding-bottom: 0;
}

/*community page*/
.community-container {
  height: 100svh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.community-header-container {
  background: black;
}
.community-header {
  font-variant: small-caps;
  color: white;
  padding: 0.5rem 0 0.5rem 1rem;
}
.connect-container {
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: large;
}
.img-container {
  height: 3rem;
}
.img-discord {
  height: 100%;
  width: auto;
}
.voiceacting-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  height: 50vh;
  font-size: large;
}
.video-container {
  height: auto;
  padding-bottom: 1rem;
}
