@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  -webkit-tap-highlight-color: transparent;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
.card .show-card-hover {
  display: none;
}
.card:hover .show-card-hover {
  display: block;
}
.card:hover {
  -webkit-box-shadow: 0px 4px 4px 0px #000000;
  -moz-box-shadow: 0px 4px 4px 0px #000000;
  box-shadow: 0px 4px 4px 0px #000000;
}
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
a {
  color: #326bd9;
}
.remove-corner {
  mask-image: none,
    url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none" viewBox="0 0 24 24"%3E%3Cpath d="M0 0h4.7a8 8 0 015.6 2.3l11.4 11.4a8 8 0 012.3 5.6V24H0V0z" fill="%23000"/%3E%3C/svg%3E'),
    none, none, linear-gradient(#000, #000), linear-gradient(#000, #000),
    linear-gradient(#000, #000), linear-gradient(#000, #000),
    linear-gradient(#000, #000);
  mask-size: 0px 0px, 25px 25px, 0px 0px, 0px 0px, calc(100% - 23px) 1px,
    1px calc(100% + 2px), calc(100% - 23px) calc(100% + 2px),
    26px calc(100% - 23px), calc(100% + 2px) 1px;
  mask-position: left top, right top, right bottom, left bottom, -1px top,
    left -1px, -1px -1px, right 24px, -1px bottom;
  mask-repeat: no-repeat;
  -webkit-mask-image: none,
    url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none" viewBox="0 0 24 24"%3E%3Cpath d="M0 0h4.7a8 8 0 015.6 2.3l11.4 11.4a8 8 0 012.3 5.6V24H0V0z" fill="%23000"/%3E%3C/svg%3E'),
    none, none, linear-gradient(#000, #000), linear-gradient(#000, #000),
    linear-gradient(#000, #000), linear-gradient(#000, #000),
    linear-gradient(#000, #000);
  -webkit-mask-size: 0px 0px, 25px 25px, 0px 0px, 0px 0px, calc(100% - 23px) 1px,
    1px calc(100% + 2px), calc(100% - 23px) calc(100% + 2px),
    26px calc(100% - 23px), calc(100% + 2px) 1px;
  -webkit-mask-position: left top, right top, right bottom, left bottom,
    -1px top, left -1px, -1px -1px, right 24px, -1px bottom;
  -webkit-mask-repeat: no-repeat;
}
